<%= "#{@game.player1.name} attacks #{@game.player2.name}!" %>

<%= "#{@game.player2.name}'s hp is now #{@game.player2.hp}!" %>

<form action="/play">
<div class="button">
    <button type="submit">Switch players</button>
</div>
</form>
