<h1>
  <%= "Welcome to the game where #{@game.player1.name} plays #{@game.player2.name}\n"%>
</h1>

<div>
  <%= "#{@game.player1.name} has #{@game.player1.hp} HP" %>
</div>
<div>
  <%= "#{@game.player2.name} has #{@game.player2.hp} HP" %>
</div>

<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>

<h2>
  <%= "It is now #{@game.turn.name}'s turn!" %>
</h2>
