<%= "Welcome to the game where #{@game.player1.name} plays #{@game.player2.name}\n"%>
<%= @game.player2.name %>'s Hit points: 100

<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>

<%= "It is now #{@game.turn.name}'s turn!" %>
